# TRANSFORMACIÓN DE DATOS

## 1. IMPORTAR PAQUETES

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
from category_encoders import TargetEncoder
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import Binarizer
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import QuantileTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import MaxAbsScaler
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler

#Automcompletar rápido
%config IPCompleter.greedy=True

## 2. IMPORTAR LOS DATOS

1.- Sustituir la ruta del proyecto.

In [2]:
#Abrir el excel de las transformaciones que le vamos a hacer a los datos para hacer un esquema de aplicacion y no perdernos
ruta_proyecto = 'C:/Users/Oscar/OneDrive - FM4/Escritorio/Python Data Mastery/EstructuraDirectorio/03_MACHINE_LEARNING/08_CASOS/001_LEAD SCORING'

2.- Nombrar los ficheros de datos.

In [3]:
nombre_cat = 'cat_resultado_eda.pickle'
nombre_num = 'num_resultado_eda.pickle'

3.- Cargar los datos.

In [4]:
cat = pd.read_pickle(ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_cat).reset_index(drop = True)
num = pd.read_pickle(ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_num).reset_index(drop = True)

In [5]:
num

,id,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,score_actividad,score_perfil
0,660728,0,5,674,2.5,15.0,15.0
1,660727,1,2,1532,2.0,14.0,20.0
2,660719,0,1,305,1.0,13.0,17.0
3,660681,1,2,1428,1.0,15.0,18.0
4,660673,1,2,1640,2.0,14.0,20.0
...,...,...,...,...,...,...,...
4812,579642,0,2,1770,2.0,14.0,20.0
4813,579622,1,13,1409,2.6,14.0,17.0
4814,579546,0,2,238,2.0,14.0,19.0
4815,579538,1,3,499,3.0,15.0,16.0
4816,579533,1,6,1279,3.0,15.0,18.0

4.- Separar la target.

In [6]:
target = num[['compra']].copy().reset_index(drop=True)

## 3. TRANSFORMACIÓN DE CATEGÓRICAS

In [7]:
cat

,id,origen,fuente,ult_actividad,ambito,ocupacion,descarga_lm
0,660728,API,Organic Search,Email Opened,Select,Unemployed,No
1,660727,Landing Page Submission,Direct Traffic,Email Opened,Business Administration,Student,Yes
2,660719,Landing Page Submission,Direct Traffic,OTROS,Media and Advertising,Unemployed,No
3,660681,Landing Page Submission,Google,Converted to Lead,Select,Unemployed,No
4,660673,Landing Page Submission,Google,Email Opened,Supply Chain Management,Unemployed,No
...,...,...,...,...,...,...,...
4812,579642,Landing Page Submission,Direct Traffic,SMS Sent,Human Resource Management,Unemployed,Yes
4813,579622,API,Direct Traffic,SMS Sent,Select,Unemployed,No
4814,579546,Landing Page Submission,Direct Traffic,SMS Sent,Media and Advertising,Unemployed,Yes
4815,579538,Landing Page Submission,Google,SMS Sent,Human Resource Management,Unemployed,No
4816,579533,Landing Page Submission,Direct Traffic,SMS Sent,Supply Chain Management,Unemployed,Yes

In [8]:
cat.origen.value_counts()

origen
Landing Page Submission    3053
API                        1479
Lead Add Form               250
OTROS                        35
Name: count, dtype: int64

In [9]:
cat.fuente.value_counts()

fuente
Google            1881
Direct Traffic    1573
Organic Search     717
Chat               273
Reference          233
OTROS              140
Name: count, dtype: int64

In [10]:
cat.ult_actividad.value_counts()

ult_actividad
Email Opened               2040
SMS Sent                   1467
Page Visited on Website     367
Converted to Lead           306
Chat Conversation           260
OTROS                       240
Email Link Clicked          137
Name: count, dtype: int64

In [11]:
cat.ambito.value_counts()

ambito
Select                               1201
Finance Management                    623
Marketing Management                  521
Human Resource Management             518
OTROS                                 377
Operations Management                 318
Business Administration               254
Supply Chain Management               231
Banking, Investment And Insurance     215
IT Projects Management                202
Media and Advertising                 126
International Business                116
Travel and Tourism                    115
Name: count, dtype: int64

In [12]:
cat.ocupacion.value_counts()

ocupacion
Unemployed              4257
Working Professional     423
Student                  117
OTROS                     20
Name: count, dtype: int64

In [13]:
cat.descarga_lm.value_counts()

descarga_lm
No     3018
Yes    1799
Name: count, dtype: int64

### 3.1. One Hot Encoding

#### 3.1.1. Variables a aplicar OHE

In [14]:
var_ohe = ['origen','fuente','ult_actividad','ambito','ocupacion','descarga_lm']

#### 3.1.2. Instanciar

In [15]:
ohe = OneHotEncoder(sparse_output = False, handle_unknown='ignore')

#### 3.1.3. Entrenar y aplicar

In [16]:
cat_ohe = ohe.fit_transform(cat[var_ohe])

#### 3.1.4. Guardar como dataframe

In [17]:
cat_ohe = pd.DataFrame(cat_ohe, columns = ohe.get_feature_names_out())

### 3.2. Ordinal Encoding

#### 3.2.1. Variables a aplicar OE

In [18]:
#var_oe = ['formacion','resultado_campana_anterior']

#### 3.2.2. Orden de los valores de las variables

In [19]:
#Orden de la primera variable
#orden_formacion = ['NULO','illiterate','basic.4y','basic.6y','basic.9y','high.school','professional.course','university.degree']

#Orden de la segunda variable
#orden_resultado_campana_anterior = ['nonexistent','failure','success']

#### 3.2.3. Instanciar

In [1]:
#oe = OrdinalEncoder(categories = [orden_formacion,orden_resultado_campana_anterior],
#                    handle_unknown = 'use_encoded_value',
#                    unknown_value = 10)

In [21]:
#print(cat['resultado_campana_anterior'].value_counts())

#### 3.2.4. Entrenar y aplicar

In [22]:
#cat_oe = oe.fit_transform(cat[var_oe])

#### 3.2.5. Guardar como dataframe

In [ ]:
#Añadir sufijos a los nombres
#nombres_oe = [variable + '_oe' for variable in var_oe]

#Guardar como dataframe
#cat_oe = pd.DataFrame(cat_oe, columns = nombres_oe)
#cat_oe.info()

### 3.3. Target Encoding

In [24]:
#print(cat_oe.dtypes)
#print(cat_oe.head())

#### 3.3.1. Variables a aplicar TE

In [ ]:
#var_te = ['trabajo','mes']

#### 3.3.2. Instanciar

In [ ]:
#te = TargetEncoder(min_samples_leaf=100, return_df = False)

#### 3.3.3. Entrenar y aplicar

In [ ]:
#import warnings
#warnings.filterwarnings(action="ignore")
#cat_te = te.fit_transform(cat[var_te], y = target)

#### 3.3.4. Guardar como dataframe

In [ ]:
#Añadir sufijos a los nombres
#nombres_te = [variable + '_te' for variable in var_te]

#Guardar como dataframe
#cat_te = pd.DataFrame(cat_te, columns = nombres_te)

### 3.4. Fechas y textos

Estas variables requieren transformaciones más ad-hoc y no tan susceptibles de aplicar mediante una plantilla.

Acudir a su correspondientes notebooks para recordar los recursos para trabajarlas. MIS_FUNCIONES 1.2.6.3 FECHAS Y TEXTO

No obstante esta plantilla contiene esta sección para recordar que aquí sería el momento en el que se trabajarían.

## 4. TRANSFORMACIÓN DE NUMÉRICAS

In [ ]:
#Discretizar y binarizar: En este caso no las haremos porque no vamos a querer darle una explicación funcional a los datos,
#si no que solamente pretendemos hacer una predicción y por tanto no tiene demasiado sentido ocupar el tiempo

#Normalizar: Ya vimos que las distribuciones son bastante normales y no es necesario hacerlo

#Reescalado: Debemos hacerlo porque vamos a hacer una segmentación. Haremos MMS xq todas las categóricas tienen OHE y no 
#tenemos problemas de atípicos por lo que RS no tiene sentido hacerlo

In [25]:
num

,id,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,score_actividad,score_perfil
0,660728,0,5,674,2.5,15.0,15.0
1,660727,1,2,1532,2.0,14.0,20.0
2,660719,0,1,305,1.0,13.0,17.0
3,660681,1,2,1428,1.0,15.0,18.0
4,660673,1,2,1640,2.0,14.0,20.0
...,...,...,...,...,...,...,...
4812,579642,0,2,1770,2.0,14.0,20.0
4813,579622,1,13,1409,2.6,14.0,17.0
4814,579546,0,2,238,2.0,14.0,19.0
4815,579538,1,3,499,3.0,15.0,16.0
4816,579533,1,6,1279,3.0,15.0,18.0

In [26]:
num.describe()

,id,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,score_actividad,score_perfil
count,4817.000000,4817.000000,4817.0,4817.000000,4817.000000,4817.000000,4817.000000
mean,619063.497405,0.415404,4.122483,605.294789,2.893403,14.054183,16.746523
std,23919.920226,0.492843,3.428728,555.373635,1.916449,0.928603,1.428349
min,579533.000000,0.000000,0.0,0.000000,0.000000,9.000000,11.000000
25%,597708.000000,0.000000,2.0,130.000000,2.000000,14.000000,16.000000
50%,619151.000000,0.000000,3.0,364.000000,2.500000,14.000000,17.000000
75%,640057.000000,1.000000,5.0,1089.000000,4.000000,14.000000,17.000000
max,660728.000000,1.000000,50.0,2272.000000,16.000000,18.000000,20.000000

In [27]:
num.visitas_total.value_counts()

visitas_total
2     1053
3      919
4      740
5      505
0      357
6      304
1      203
7      193
8      140
9      117
10      69
11      50
13      38
12      28
14      24
16      13
15      11
17      10
18       9
20       7
23       5
25       4
27       4
21       3
24       3
19       2
29       2
50       2
26       1
28       1
Name: count, dtype: Int64

In [28]:
num.tiempo_en_site_total.value_counts()

tiempo_en_site_total
0       360
62       14
60       14
75       13
74       12
       ...
2094      1
997       1
905       1
971       1
483       1
Name: count, Length: 1532, dtype: int64

In [29]:
num.paginas_vistas_visita.value_counts()

paginas_vistas_visita
2.00     1127
3.00      778
4.00      591
1.00      373
0.00      357
         ...
3.20        1
16.00       1
2.57        1
4.75        1
2.08        1
Name: count, Length: 84, dtype: int64

In [30]:
num.score_actividad.value_counts()

score_actividad
14.0    3174
15.0     673
13.0     504
16.0     227
12.0      89
11.0      55
17.0      49
10.0      37
9.0        6
18.0       3
Name: count, dtype: int64

In [31]:
num.score_perfil.value_counts()

score_perfil
17.0    2417
15.0     729
18.0     691
16.0     353
20.0     205
19.0     144
14.0     133
13.0     126
12.0      13
11.0       6
Name: count, dtype: int64

### 4.1. Discretizar variables

#### 4.1.1. Mediante distancia similar

##### Variables a discretizar mediante distancia similar

In [32]:
#var_disc_ds = ['num_contactos_esta_campana','num_dias_ultimo_contacto']

##### Instanciar

In [33]:
#disc_ds = KBinsDiscretizer(n_bins = 6, strategy = 'uniform', encode = 'ordinal')

##### Entrenar y aplicar

In [34]:
#num_disc_ds = disc_ds.fit_transform(num[var_disc_ds])

##### Guardar como dataframe

In [35]:
#Añadir sufijos a los nombres
#nombres_ds = [variable + '_disc_ds' for variable in var_disc_ds]

#Guardar como dataframe
#num_disc_ds = pd.DataFrame(num_disc_ds,columns = nombres_ds)

#### 4.1.2. Mediante número de casos similares

##### Variables a discretizar mediante número de casos similares

In [36]:
#var_disc_cs = ['num_contactos_esta_campana','euribor3m']

##### Instanciar

In [37]:
#disc_cs = KBinsDiscretizer(n_bins = 2, strategy = 'quantile', encode = 'ordinal')

##### Entrenar y aplicar

In [38]:
#num_disc_cs = disc_cs.fit_transform(num[var_disc_cs])

##### Guardar como dataframe

In [39]:
#Añadir sufijos a los nombres
#nombres_cs = [variable + '_disc_cs' for variable in var_disc_cs]

#Guardar como dataframe
#num_disc_cs = pd.DataFrame(num_disc_cs,columns = nombres_cs)

### 4.2. Binarizar variables

#### 4.2.1. Variables a binarizar

In [ ]:
#var_bin = ['variacion_tasa_empleo']

#### 4.2.2. Instanciar

In [ ]:
#bin = Binarizer(threshold=0)

#### 4.2.3. Entrenar y aplicar

In [ ]:
#num_bin = bin.fit_transform(num[var_bin])

#### 4.2.4. Guardar como dataframe

In [ ]:
#Añadir sufijos a los nombres
#nombres_bin = [variable + '_bin' for variable in var_bin]

#Guardar como dataframe
#num_bin = pd.DataFrame(num_bin,columns = nombres_bin)

### 4.3. Normalizar (Gauss)

#### 4.3.1. Con Yeo-Johnson

##### Variables a normalizar con Yeo-Johnson

In [ ]:
#var_yeo = ['edad','euribor3m']

##### Instanciar

In [ ]:
#yeo = PowerTransformer(method = 'yeo-johnson')

##### Entrenar y aplicar

In [ ]:
#num_yeo = yeo.fit_transform(num[var_yeo])

##### Guardar como dataframe

In [ ]:
#Añadir sufijos a los nombres
#nombres_yeo = [variable + '_yeo' for variable in var_yeo]

#Guardar como dataframe
#num_yeo = pd.DataFrame(num_yeo,columns = nombres_yeo)

#### 4.3.2. Con Quantile Transformer

##### Variables a normalizar con Quantile Transformer

In [ ]:
#var_qt = ['edad','euribor3m']

##### Instanciar

In [ ]:
#qt = QuantileTransformer(output_distribution='normal')

##### Entrenar y aplicar

In [ ]:
#num_qt = qt.fit_transform(num[var_qt])

##### Guardar como dataframe

In [ ]:
#Añadir sufijos a los nombres
#nombres_qt = [variable + '_qt' for variable in var_qt]

#Guardar como dataframe
#num_qt = pd.DataFrame(num_qt,columns = nombres_qt)

## 5. UNIFICAR DATASETS TRANSFORMADOS

### 5.1. Meter en una lista todos los dataframes generados

In [40]:
cat

,id,origen,fuente,ult_actividad,ambito,ocupacion,descarga_lm
0,660728,API,Organic Search,Email Opened,Select,Unemployed,No
1,660727,Landing Page Submission,Direct Traffic,Email Opened,Business Administration,Student,Yes
2,660719,Landing Page Submission,Direct Traffic,OTROS,Media and Advertising,Unemployed,No
3,660681,Landing Page Submission,Google,Converted to Lead,Select,Unemployed,No
4,660673,Landing Page Submission,Google,Email Opened,Supply Chain Management,Unemployed,No
...,...,...,...,...,...,...,...
4812,579642,Landing Page Submission,Direct Traffic,SMS Sent,Human Resource Management,Unemployed,Yes
4813,579622,API,Direct Traffic,SMS Sent,Select,Unemployed,No
4814,579546,Landing Page Submission,Direct Traffic,SMS Sent,Media and Advertising,Unemployed,Yes
4815,579538,Landing Page Submission,Google,SMS Sent,Human Resource Management,Unemployed,No
4816,579533,Landing Page Submission,Direct Traffic,SMS Sent,Supply Chain Management,Unemployed,Yes

In [41]:
dataframes = []
dataframes.extend(value for name, value in locals().items() if name.startswith('cat_') or name.startswith('num'))

### 5.2. Unir todos los dataframes

In [42]:
df = pd.concat(dataframes, axis = 1).drop(columns='compra')

In [43]:
df

,id,visitas_total,tiempo_en_site_total,paginas_vistas_visita,score_actividad,score_perfil,origen_API,origen_Landing Page Submission,origen_Lead Add Form,origen_OTROS,...,ambito_Operations Management,ambito_Select,ambito_Supply Chain Management,ambito_Travel and Tourism,ocupacion_OTROS,ocupacion_Student,ocupacion_Unemployed,ocupacion_Working Professional,descarga_lm_No,descarga_lm_Yes
0,660728,5,674,2.5,15.0,15.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,660727,2,1532,2.0,14.0,20.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,660719,1,305,1.0,13.0,17.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,660681,2,1428,1.0,15.0,18.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,660673,2,1640,2.0,14.0,20.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4812,579642,2,1770,2.0,14.0,20.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4813,579622,13,1409,2.6,14.0,17.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4814,579546,2,238,2.0,14.0,19.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4815,579538,3,499,3.0,15.0,16.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4816,579533,6,1279,3.0,15.0,18.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

## 6.  REESCALAR VARIABLES

### 6.1. Con Min-Max

In [44]:
#Sacamos un info porque lo ideal es reescalar las variables que no hayan sido resultado de un OneHoteEncoding
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4817 entries, 0 to 4816
Data columns (total 42 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   id                                        4817 non-null   int64
 1   visitas_total                             4817 non-null   Int64
 2   tiempo_en_site_total                      4817 non-null   int64
 3   paginas_vistas_visita                     4817 non-null   float64
 4   score_actividad                           4817 non-null   float64
 5   score_perfil                              4817 non-null   float64
 6   origen_API                                4817 non-null   float64
 7   origen_Landing Page Submission            4817 non-null   float64
 8   origen_Lead Add Form                      4817 non-null   float64
 9   origen_OTROS                              4817 non-null   float64
 10  fuente_Chat                               4817 non-null   float64
 11  fuente_Direct Traffic                     4817 non-null   float64
 12  fuente_Google                             4817 non-null   float64
 13  fuente_OTROS                              4817 non-null   float64
 14  fuente_Organic Search                     4817 non-null   float64
 15  fuente_Reference                          4817 non-null   float64
 16  ult_actividad_Chat Conversation           4817 non-null   float64
 17  ult_actividad_Converted to Lead           4817 non-null   float64
 18  ult_actividad_Email Link Clicked          4817 non-null   float64
 19  ult_actividad_Email Opened                4817 non-null   float64
 20  ult_actividad_OTROS                       4817 non-null   float64
 21  ult_actividad_Page Visited on Website     4817 non-null   float64
 22  ult_actividad_SMS Sent                    4817 non-null   float64
 23  ambito_Banking, Investment And Insurance  4817 non-null   float64
 24  ambito_Business Administration            4817 non-null   float64
 25  ambito_Finance Management                 4817 non-null   float64
 26  ambito_Human Resource Management          4817 non-null   float64
 27  ambito_IT Projects Management             4817 non-null   float64
 28  ambito_International Business             4817 non-null   float64
 29  ambito_Marketing Management               4817 non-null   float64
 30  ambito_Media and Advertising              4817 non-null   float64
 31  ambito_OTROS                              4817 non-null   float64
 32  ambito_Operations Management              4817 non-null   float64
 33  ambito_Select                             4817 non-null   float64
 34  ambito_Supply Chain Management            4817 non-null   float64
 35  ambito_Travel and Tourism                 4817 non-null   float64
 36  ocupacion_OTROS                           4817 non-null   float64
 37  ocupacion_Student                         4817 non-null   float64
 38  ocupacion_Unemployed                      4817 non-null   float64
 39  ocupacion_Working Professional            4817 non-null   float64
 40  descarga_lm_No                            4817 non-null   float64
 41  descarga_lm_Yes                           4817 non-null   float64
dtypes: Int64(1), float64(39), int64(2)
memory usage: 1.5 MB

#### 6.1.1. Variables a reescalar con Min-Max

In [59]:
var_mms = df.iloc[:,1:6].columns

#### 6.1.2. Instanciar

In [60]:
mms = MinMaxScaler()

#### 6.1.3. Entrenar y aplicar

In [61]:
df_mms = mms.fit_transform(df[var_mms])

#### 6.1.4. Guardar como dataframe

In [62]:
#Añadir sufijos a los nombres
nombres_mms = [variable + '_mms' for variable in var_mms]
#Guardar como dataframe
df_mms = pd.DataFrame(df_mms,columns = nombres_mms)
df_mms

,visitas_total_mms,tiempo_en_site_total_mms,paginas_vistas_visita_mms,score_actividad_mms,score_perfil_mms
0,0.10,0.296655,0.15625,0.666667,0.444444
1,0.04,0.674296,0.12500,0.555556,1.000000
2,0.02,0.134243,0.06250,0.444444,0.666667
3,0.04,0.628521,0.06250,0.666667,0.777778
4,0.04,0.721831,0.12500,0.555556,1.000000
...,...,...,...,...,...
4812,0.04,0.779049,0.12500,0.555556,1.000000
4813,0.26,0.620158,0.16250,0.555556,0.666667
4814,0.04,0.104754,0.12500,0.555556,0.888889
4815,0.06,0.219630,0.18750,0.666667,0.555556
4816,0.12,0.562940,0.18750,0.666667,0.777778

### 6.2. Con estandarización

#### 6.2.1. Variables a reescalar con estandarización

In [ ]:
#var_ss = df.iloc[:,:13].columns

#### 6.2.2. Instanciar

In [ ]:
#ss = StandardScaler()

#### 6.2.3. Entrenar y aplicar

In [ ]:
#df_ss = ss.fit_transform(df[var_ss])

#### 6.2.4. Guardar como dataframe

In [ ]:
#Añadir sufijos a los nombres
#nombres_ss = [variable + '_ss' for variable in var_ss]
#Guardar como dataframe
#df_ss = pd.DataFrame(df_ss,columns = nombres_ss)

In [ ]:
#df_ss

### 6.3. Con estandarización robusta

#### 6.3.1. Variables a reescalar con estandarización robusta

In [ ]:
#var_rs = df.iloc[:,:13].columns

#### 6.3.2. Percentiles a usar para el rango

In [ ]:
p_min = 10.0
p_max = 90.0

#### 6.3.3. Instanciar

In [ ]:
#rs = RobustScaler(quantile_range=(p_min, p_max))

#### 6.3.4. Entrenar y aplicar

In [ ]:
#df_rs = rs.fit_transform(df[var_rs])

#### 6.3.5. Guardar como dataframe

In [ ]:
#Añadir sufijos a los nombres
#nombres_rs = [variable + '_rs' for variable in var_rs]

#Guardar como dataframe
#df_rs = pd.DataFrame(df_rs,columns = nombres_rs)

In [ ]:
#df_rs.describe().T

## 7. UNIFICAR DATASETS REESCALADOS

In [80]:
id = df['id']

### 7.1. Crear una lista con los dataframes a incluir en el tablón analítico

In [81]:
incluir = [id,
           cat_ohe, 
           df_mms, 
           #df_rs, 
           #df_ss, 
           target]

### 7.2. Unir todos los dataframes en el tablón analítico

In [82]:
df_tablon = pd.concat(incluir, axis = 1)

## 8. GUARDAR DATASET TRAS TRANSFORMACIÓN DE DATOS

En formato pickle para no perder las modificaciones de metadatos.

In [83]:
#Definir los nombres del archivo
ruta_df_tablon = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'df_tablon.pickle'

In [83]:
#Definir los nombres del archivo
ruta_df_tablon = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'df_tablon.pickle'
#Guardar los archivos
df_tablon.to_pickle(ruta_df_tablon)

In [84]:
#Guardar los archivos
df_tablon.to_pickle(ruta_df_tablon)

In [85]:
df_tablon.set_index('id', inplace = True)
df_tablon

,origen_API,origen_Landing Page Submission,origen_Lead Add Form,origen_OTROS,fuente_Chat,fuente_Direct Traffic,fuente_Google,fuente_OTROS,fuente_Organic Search,fuente_Reference,...,ocupacion_Unemployed,ocupacion_Working Professional,descarga_lm_No,descarga_lm_Yes,visitas_total_mms,tiempo_en_site_total_mms,paginas_vistas_visita_mms,score_actividad_mms,score_perfil_mms,compra
id,,,,,,,,,,,,,,,,,,,,,
660728,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.10,0.296655,0.15625,0.666667,0.444444,0
660727,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.04,0.674296,0.12500,0.555556,1.000000,1
660719,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.02,0.134243,0.06250,0.444444,0.666667,0
660681,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.04,0.628521,0.06250,0.666667,0.777778,1
660673,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.04,0.721831,0.12500,0.555556,1.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579642,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.04,0.779049,0.12500,0.555556,1.000000,0
579622,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.26,0.620158,0.16250,0.555556,0.666667,1
579546,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.04,0.104754,0.12500,0.555556,0.888889,0
579538,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.06,0.219630,0.18750,0.666667,0.555556,1
579533,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.12,0.562940,0.18750,0.666667,0.777778,1

In [86]:
df_tablon.isna().sum()

origen_API                                  0
origen_Landing Page Submission              0
origen_Lead Add Form                        0
origen_OTROS                                0
fuente_Chat                                 0
fuente_Direct Traffic                       0
fuente_Google                               0
fuente_OTROS                                0
fuente_Organic Search                       0
fuente_Reference                            0
ult_actividad_Chat Conversation             0
ult_actividad_Converted to Lead             0
ult_actividad_Email Link Clicked            0
ult_actividad_Email Opened                  0
ult_actividad_OTROS                         0
ult_actividad_Page Visited on Website       0
ult_actividad_SMS Sent                      0
ambito_Banking, Investment And Insurance    0
ambito_Business Administration              0
ambito_Finance Management                   0
ambito_Human Resource Management            0
ambito_IT Projects Management               0
ambito_International Business               0
ambito_Marketing Management                 0
ambito_Media and Advertising                0
ambito_OTROS                                0
ambito_Operations Management                0
ambito_Select                               0
ambito_Supply Chain Management              0
ambito_Travel and Tourism                   0
ocupacion_OTROS                             0
ocupacion_Student                           0
ocupacion_Unemployed                        0
ocupacion_Working Professional              0
descarga_lm_No                              0
descarga_lm_Yes                             0
visitas_total_mms                           0
tiempo_en_site_total_mms                    0
paginas_vistas_visita_mms                   0
score_actividad_mms                         0
score_perfil_mms                            0
compra                                      0
dtype: int64

In [87]:
df_tablon.describe().T

,count,mean,std,min,25%,50%,75%,max
origen_API,4817.0,0.307038,0.461313,0.0,0.000000,0.000000,1.000000,1.0
origen_Landing Page Submission,4817.0,0.633797,0.481816,0.0,0.000000,1.000000,1.000000,1.0
origen_Lead Add Form,4817.0,0.051900,0.221847,0.0,0.000000,0.000000,0.000000,1.0
origen_OTROS,4817.0,0.007266,0.084939,0.0,0.000000,0.000000,0.000000,1.0
fuente_Chat,4817.0,0.056674,0.231243,0.0,0.000000,0.000000,0.000000,1.0
fuente_Direct Traffic,4817.0,0.326552,0.469000,0.0,0.000000,0.000000,1.000000,1.0
fuente_Google,4817.0,0.390492,0.487911,0.0,0.000000,0.000000,1.000000,1.0
fuente_OTROS,4817.0,0.029064,0.168003,0.0,0.000000,0.000000,0.000000,1.0
fuente_Organic Search,4817.0,0.148848,0.355975,0.0,0.000000,0.000000,0.000000,1.0
fuente_Reference,4817.0,0.048370,0.214570,0.0,0.000000,0.000000,0.000000,1.0
ult_actividad_Chat Conversation,4817.0,0.053976,0.225993,0.0,0.000000,0.000000,0.000000,1.0
ult_actividad_Converted to Lead,4817.0,0.063525,0.243930,0.0,0.000000,0.000000,0.000000,1.0
ult_actividad_Email Link Clicked,4817.0,0.028441,0.166246,0.0,0.000000,0.000000,0.000000,1.0
ult_actividad_Email Opened,4817.0,0.423500,0.494164,0.0,0.000000,0.000000,1.000000,1.0
ult_actividad_OTROS,4817.0,0.049824,0.217603,0.0,0.000000,0.000000,0.000000,1.0
ult_actividad_Page Visited on Website,4817.0,0.076188,0.265327,0.0,0.000000,0.000000,0.000000,1.0
ult_actividad_SMS Sent,4817.0,0.304546,0.460263,0.0,0.000000,0.000000,1.000000,1.0
"ambito_Banking, Investment And Insurance",4817.0,0.044634,0.206519,0.0,0.000000,0.000000,0.000000,1.0
ambito_Business Administration,4817.0,0.052730,0.223517,0.0,0.000000,0.000000,0.000000,1.0
ambito_Finance Management,4817.0,0.129334,0.335604,0.0,0.000000,0.000000,0.000000,1.0
ambito_Human Resource Management,4817.0,0.107536,0.309825,0.0,0.000000,0.000000,0.000000,1.0
ambito_IT Projects Management,4817.0,0.041935,0.200461,0.0,0.000000,0.000000,0.000000,1.0
ambito_International Business,4817.0,0.024081,0.153318,0.0,0.000000,0.000000,0.000000,1.0
ambito_Marketing Management,4817.0,0.108159,0.310613,0.0,0.000000,0.000000,0.000000,1.0
ambito_Media and Advertising,4817.0,0.026157,0.159620,0.0,0.000000,0.000000,0.000000,1.0
ambito_OTROS,4817.0,0.078264,0.268615,0.0,0.000000,0.000000,0.000000,1.0
ambito_Operations Management,4817.0,0.066016,0.248336,0.0,0.000000,0.000000,0.000000,1.0
ambito_Select,4817.0,0.249325,0.432667,0.0,0.000000,0.000000,0.000000,1.0
ambito_Supply Chain Management,4817.0,0.047955,0.213694,0.0,0.000000,0.000000,0.000000,1.0
ambito_Travel and Tourism,4817.0,0.023874,0.152672,0.0,0.000000,0.000000,0.000000,1.0
ocupacion_OTROS,4817.0,0.004152,0.064308,0.0,0.000000,0.000000,0.000000,1.0
ocupacion_Student,4817.0,0.024289,0.153961,0.0,0.000000,0.000000,0.000000,1.0
ocupacion_Unemployed,4817.0,0.883745,0.320564,0.0,1.000000,1.000000,1.000000,1.0
ocupacion_Working Professional,4817.0,0.087814,0.283054,0.0,0.000000,0.000000,0.000000,1.0
descarga_lm_No,4817.0,0.626531,0.483775,0.0,0.000000,1.000000,1.000000,1.0
descarga_lm_Yes,4817.0,0.373469,0.483775,0.0,0.000000,0.000000,1.000000,1.0
visitas_total_mms,4817.0,0.082450,0.068575,0.0,0.040000,0.060000,0.100000,1.0
tiempo_en_site_total_mms,4817.0,0.266415,0.244443,0.0,0.057218,0.160211,0.479313,1.0
paginas_vistas_visita_mms,4817.0,0.180838,0.119778,0.0,0.125000,0.156250,0.250000,1.0
score_actividad_mms,4817.0,0.561576,0.103178,0.0,0.555556,0.555556,0.555556,1.0
score_perfil_mms,4817.0,0.638503,0.158705,0.0,0.555556,0.666667,0.666667,1.0
compra,4817.0,0.415404,0.492843,0.0,0.000000,0.000000,1.000000,1.0